In [1]:
import pandas as pd

In [2]:
import numpy as np

In [2]:
business_restaurant = pd.read_pickle('../data/all-restaurants/restaurants.pickle')

In [3]:
review_restaurant = pd.read_pickle('../data/all-restaurants/restaurant_review.pickle')

In [3]:
user_restaurant = pd.read_pickle('../data/all-restaurants/restaurant_users.pickle')

In [5]:
user_restaurant = user_restaurant[['user_id', 'friends']]

In [7]:
for index, row in user_restaurant.iterrows():
    row['friends'] = len(row['friends'].split(", "))

In [10]:
np.mean(user_restaurant['friends'].value_counts())

188.3801833260585

In [5]:
df = pd.read_pickle('../data/restaurants/predictions.pickle')

In [6]:
file = '../data/restaurants/item_index2entity_id.txt'
i = 0
entity_id2index = dict()
for line in open(file, encoding='utf-8').readlines():
    item = line.strip().split('\t')[0]
    item_id = int(line.strip().split('\t')[1])
    entity_id2index[item_id] = item
    i += 1

business_id = []
for index, row in df.iterrows():
    business_id.append(entity_id2index[int(row['item'])])
df['business_id'] = business_id

In [7]:
business_df = pd.read_pickle('../data/all-restaurants/restaurants.pickle')
business_df = business_df[['business_id', 'name']]
df = pd.merge(df, business_df, how="left", on=["business_id"])

In [8]:
df = df.round(2)

In [10]:
df = df.sort_values(by='rating')

In [11]:
df

,user,item,rating,business_id,name
4586161,415231,19907,0.00,pITkBUEZVcpxKwF348KAtw,Vegan Pudding
484653,299380,28628,0.00,BZVSyMrekS2t6kymhpPAPQ,A&A Crab House
4601793,415231,35621,0.00,4XxlO_BCTUNWaVRHI_9tiQ,Rangetsu
484654,299380,28629,0.00,yHvA815DnH-LBzSkJTbpoA,NEPO 42
484655,299380,28630,0.00,RcaQoDqzUB3pxVnmB-hFbQ,Bonfires Bar & Grill
...,...,...,...,...,...
3785534,99373,31226,4.95,qaBtJGErtu6gNn_NNQerOQ,Mediterranean Donair House
3785533,99373,31225,4.95,0iZdSxDtKvhQo8weTmeGQg,Sixty South
3785532,99373,31224,4.95,-Ow5M1svu-MmQ42HURrFow,Fish & Rice
3785539,99373,31231,4.95,-pUOqati1pJWGtiSc_e9VQ,MidiCi The Neapolitan Pizza Company
3779941,99373,25607,4.95,PJnWSjegs0vI8pfSHnEzQQ,Amura

Average Strategy

In [17]:
users = np.random.choice(df['user'].unique(), size=10)

In [35]:
ratings = {item : [] for item in df['item'].unique()}
for user in users:
    user_df = df[df['user'] == user] 
    for index, row in user_df.iterrows():
        ratings[row['item']].append(row['rating'])

In [37]:
for item in ratings.keys():
    ratings[item] = np.mean(ratings[item])

In [45]:
max_rating = max(ratings.values())
options = []
for k, v in ratings.items():
    if v == max_rating:
        options.append(k)

In [47]:
len(options)

33751