In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle('../data/all-restaurants/restaurants.pickle')

In [3]:
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,restaurant
0,6iYb2HFDywm3zjuRg0shjw,Oskar Blues Taproom,921 Pearl St,Boulder,CO,80302,40.017544,-105.283348,4.0,86,1,"{'RestaurantsTableService': 'True', 'WiFi': 'u...","Gastropubs, Food, Beer Gardens, Restaurants, B...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",True
1,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ...",True
5,D4JtQNTI4X3KcbzacDJsMw,Bob Likes Thai Food,3755 Main St,Vancouver,BC,V5V,49.251342,-123.101333,3.5,169,1,"{'GoodForKids': 'True', 'Alcohol': 'u'none'', ...","Restaurants, Thai","{'Monday': '17:0-21:0', 'Tuesday': '17:0-21:0'...",True
7,jFYIsSb7r1QeESVUnXPHBw,Boxwood Biscuit,740 S High St,Columbus,OH,43206,39.947007,-82.997471,4.5,11,1,None,"Breakfast & Brunch, Restaurants","{'Saturday': '8:0-14:0', 'Sunday': '8:0-14:0'}",True
12,HPA_qyMEddpAEtFof02ixg,Mr G's Pizza & Subs,474 Lowell St,Peabody,MA,01960,42.541155,-70.973438,4.0,39,1,"{'RestaurantsGoodForGroups': 'True', 'HasTV': ...","Food, Pizza, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'...",True

In [4]:
df.shape

(50763, 15)

In [5]:
rest_df = pd.read_pickle('C:\\Users\\ineso\\FEUP-3ano\\gulbenkian-ai\\data\\vegas-restaurants\\restaurant_in_vegas.pickle')
review_df = pd.read_pickle('C:\\Users\\ineso\\FEUP-3ano\\gulbenkian-ai\\data\\vegas-restaurants\\vegas_review_reduced.pickle')

In [3]:
rest_df = rest_df[['business_id', 'categories']]
rest_df.head()

               business_id                                         categories
2   fnZrZlqW1Z8iWgTVDfv_MA                    Mexican, Restaurants, Fast Food
3   fhNf_sg-XzZ3e7HEVGuOZg  Burgers, Restaurants, American (Traditional), ...
10  OWkS1FXNJbozn-qPg3LWxg              Food, Food Trucks, Restaurants, Pizza
12  MTx-Zdl_KcU_z9G832XAjg                             Fast Food, Restaurants
15  Q_dh08clYUPj13GmCRzIVA  Filipino, Restaurants, Breakfast & Brunch, Foo...

In [4]:
category_review_df = pd.read_pickle('C:\\Users\\ineso\\FEUP-3ano\\gulbenkian-ai\\data\\vegas-restaurants\\vegas_category_review.pickle')

In [15]:
categories = list(category_review_df['category'].unique())

In [16]:
categories.append('business_id')
rest_category_df = pd.DataFrame(index=list(rest_df.index.values), columns=categories)
rest_category_df = rest_category_df.fillna(0)
rest_category_df.head()

,Restaurants,Mexican,Southern,New Mexican Cuisine,Spanish,Tex-Mex,Barbeque,American (Traditional),American (New),Sushi Bars,...,Service Stations,Engraving,Cosmetic Dentists,Dentists,Magicians,Refinishing Services,Tiling,Flooring,Grout Services,business_id
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
rest_category_df['business_id'] = rest_df['business_id']
rest_category_df['categories'] = rest_df['categories']
rest_category_df.head()

,Restaurants,Mexican,Southern,New Mexican Cuisine,Spanish,Tex-Mex,Barbeque,American (Traditional),American (New),Sushi Bars,...,Engraving,Cosmetic Dentists,Dentists,Magicians,Refinishing Services,Tiling,Flooring,Grout Services,business_id,categories
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,fnZrZlqW1Z8iWgTVDfv_MA,"Mexican, Restaurants, Fast Food"
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,fhNf_sg-XzZ3e7HEVGuOZg,"Burgers, Restaurants, American (Traditional), ..."
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,OWkS1FXNJbozn-qPg3LWxg,"Food, Food Trucks, Restaurants, Pizza"
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,MTx-Zdl_KcU_z9G832XAjg,"Fast Food, Restaurants"
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Q_dh08clYUPj13GmCRzIVA,"Filipino, Restaurants, Breakfast & Brunch, Foo..."

In [28]:
for index, row in rest_category_df.iterrows():
    cat = row['categories'].split(", ")
    for c in cat :
        rest_category_df.at[index, c] = 1

In [31]:
rest_category_df = rest_category_df.drop(columns=['Restaurants'])

In [32]:
rest_category_df = rest_category_df.drop(columns=['categories'])

In [33]:
rest_category_df = rest_category_df.astype('category')

In [35]:
rest_category_df.to_pickle('C:\\Users\\ineso\\FEUP-3ano\\gulbenkian-ai\\data\\vegas-restaurants\\rest_cat_bool_df.pickle')

In [6]:
rest_expanded_df = pd.DataFrame(columns=['business_id', 'category'])
i=0
for index, row in rest_df.iterrows():
    categories = row['categories'].split(", ")
    for c in categories:
        rest_expanded_df.loc[i] = [row['business_id'], c]
        i+=1

In [11]:
category_review_df = review_df.merge(rest_expanded_df, how='inner', on='business_id')

In [13]:
category_review_df=category_review_df.drop(columns=['business_id'])

In [4]:
rest_category_df = pd.read_pickle('C:\\Users\\ineso\\FEUP-3ano\\gulbenkian-ai\\data\\vegas-restaurants\\rest_cat_bool_df.pickle')

In [6]:
user_categories_df = review_df.merge(rest_category_df, how='inner', on='business_id')

In [8]:
user_categories_df = user_categories_df.drop(columns=['business_id'])

In [11]:
user_categories_df.to_pickle('C:\\Users\\ineso\\FEUP-3ano\\gulbenkian-ai\\data\\vegas-restaurants\\user_cat_bool_df.pickle')

In [17]:
import numpy as np

In [18]:
cols = list(user_categories_df.columns)
cols.remove('user_id')
cols.remove('stars')
categorical_data = np.stack([user_categories_df[c].cat.codes.values for c in cols], 1)
categorical_data[:10]

array([[1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]], dtype=int8)

In [22]:
import torch

In [23]:
outputs = ['stars']
outputs = torch.tensor(user_categories_df[outputs].values).flatten()
outputs[:5]

tensor([1, 3, 4, 2, 4])

In [2]:
df = pd.read_pickle('C:\\Users\\ineso\\FEUP-3ano\\gulbenkian-ai\\data\\vegas-restaurants\\restaurant_in_vegas.pickle')

In [3]:
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,restaurant
2,fnZrZlqW1Z8iWgTVDfv_MA,Carl's Jr,9595 W Tropicana Ave,Las Vegas,NV,89147,36.099738,-115.301568,2.5,15,0,"{'Alcohol': 'u'none'', 'WiFi': 'u'no'', 'GoodF...","Mexican, Restaurants, Fast Food",None,True
3,fhNf_sg-XzZ3e7HEVGuOZg,Meat Chix And Wieners,6530 S Decatur Blvd,Las Vegas,NV,89118,36.071196,-115.207463,3.0,10,0,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Burgers, Restaurants, American (Traditional), ...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'...",True
10,OWkS1FXNJbozn-qPg3LWxg,Mama Napoli Pizza,,Las Vegas,NV,89109,36.128561,-115.171130,4.5,11,1,"{'RestaurantsDelivery': 'False', 'BusinessAcce...","Food, Food Trucks, Restaurants, Pizza",{'Friday': '18:0-0:0'},True
12,MTx-Zdl_KcU_z9G832XAjg,Taco Bell,8033 N Durango Dr,Las Vegas,NV,89131,36.307495,-115.279059,2.5,37,1,"{'OutdoorSeating': 'False', 'Alcohol': 'u'none...","Fast Food, Restaurants",None,True
15,Q_dh08clYUPj13GmCRzIVA,Kulinarya Express Filipino Kitchen,"7960 S Rainbow Blvd, Ste 8000A",Las Vegas,NV,89139,36.043663,-115.241881,4.0,82,0,"{'BusinessParking': '{'garage': False, 'street...","Filipino, Restaurants, Breakfast & Brunch, Foo...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-20:0', ...",True

In [6]:
writer = open('../data/restaurants/item_index2entity_id.txt', 'w', encoding='utf-8')
entity_cnt = 0
seen_categories = []
stars = []
for index, row in df.iterrows():
    writer.write('%s\t%d\n' % (row['business_id'], entity_cnt))
    entity_cnt+=1
    for c in row['categories'].split(", "):
        if c not in seen_categories and c != "Restaurants":
            seen_categories.append(c)
            writer.write('%s\t%d\n' % (c, entity_cnt))
            entity_cnt += 1
    if row['stars'] not in stars:
        stars.append(row['stars'])
        writer.write('%s\t%d\n' % (row['stars'], entity_cnt))
        entity_cnt += 1
writer.close()

In [8]:
writer = open('../data/restaurants/kg.txt', 'w', encoding='utf-8')
for index, row in df.iterrows():
    for c in row['categories'].split(", "):
        if c != 'Restaurants':
            writer.write('%s\t%s\t%s\n' % (row['business_id'], 'category', c))
    writer.write('%s\t%s\t%s\n' % (row['business_id'], 'stars', row['stars']))
writer.close()

In [5]:
df.to_csv('C:\\Users\\ineso\\FEUP-3ano\\gulbenkian-ai\\data\\restaurants\\ratings.csv', index=False)